<div class="main">
    <div class="header col-md-12">
        <h3>PVS Valuation Requests</h3>
            <table mat-table [dataSource]="propertyData">
                <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef> Reference </th>
                    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
                </ng-container>
                <ng-container matColumnDef="receivedOn">
                    <th mat-header-cell *matHeaderCellDef> Received on </th>
                    <td mat-cell *matCellDef="let element"> {{element.receivedOn}} </td>
                </ng-container>
                <ng-container matColumnDef="borrowersName">
                    <th mat-header-cell *matHeaderCellDef> Borrower's name </th>
                    <td mat-cell *matCellDef="let element"> {{element.borrowersName}} </td>
                </ng-container>
                <ng-container matColumnDef="fosRef">
                    <th mat-header-cell *matHeaderCellDef> FOS Ref </th>
                    <td mat-cell *matCellDef="let element"> {{element.fosRef}} </td>
                </ng-container>
                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef> Created On </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
                </ng-container>
                <ng-container matColumnDef="modifiedOn">
                    <th mat-header-cell *matHeaderCellDef> Modified On </th>
                    <td mat-cell *matCellDef="let element"> {{element.modifiedOn}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" (click)="onClaim(element)">Claim</button>
                        <button mat-icon-button (click)="onView(element)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayTableColumns;"></tr>
            </table>
        </div>
</div>